.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 12px;
}
.card__overlay {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    background: linear-gradient(transparent 50%, rgba(68,25,109,0.5));
}
.card__image {
    width: 120px;
    height: 120px;
    border-radius: 16px;
    border: 2px solid #865CE2;
    position: relative;
    z-index: -5;
    box-shadow: 0 16px 24px -21px #865CE2;
}
.card__role {
    font-size: 16px;
    font-weight: bold;
    color: #FF4C00;
}
.card__name {
    font-size: 24px;
    font-weight: bolder;
    margin-top: 5px;
}
@media (max-width: 1200px) {
    .card {
        margin-bottom: 32px;
        max-width: 280px;
    }
}